<UnityContainerName xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="ISessionContext" type="Dfo.Sample.Core.Web.Base.ISessionContext, Dfo.Sample.Core.Web" />
  <alias alias="SessionContext" type="Dfo.Sample.Core.Web.Base.SessionContext, Dfo.Sample.Core.Web" />
  <container>
    <register type="ISessionContext" mapTo="SessionContext">
    <property name="TenantId" value="DfoTest" />
    </register>
  </container>
</UnityContainerName>